.filters{
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}
.filters button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	border: none;
	top: 10px;
	bottom: 10px;
	position: absolute;
	right: 30px;
}
.filters button:hover{
	opacity: 0.9;
}