.filters{
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}
.filters button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	border: none;
	top: 10px;
	bottom: 10px;
	position: absolute;
	right: 30px;
}
.filters button:hover{
	opacity: 0.9;
}
.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding-left: 0px;
    position: absolute;
    left: 0;
}
.locations h3{
    font-weight: 600;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.locations h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 30px;
}
.amenities{
    height: 100%;
    width: 25%;
    padding-left: 0px;
    position: absolute;
    left: 25%;
}
.amenities h3{
    font-weight: 600;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 30px;
}